# Slyme OS — GRUB boot configuration

set default=0
set timeout=5

insmod all_video
insmod font

if loadfont "${prefix}/fonts/unicode.pf2"; then
    insmod gfxterm
    set gfxmode="auto"
    terminal_input console
    terminal_output gfxterm
fi

set color_normal=light-green/black
set color_highlight=black/light-green
set menu_color_normal=light-green/black
set menu_color_highlight=black/light-green

menuentry "Slyme OS 0.9.9 — Boot Live Session" --class arch --class gnu-linux {
    set gfxpayload=keep
    linux   /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G
    initrd  /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Slyme OS 0.9.9 — Boot (nomodeset fallback)" --class arch {
    set gfxpayload=keep
    linux   /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G nomodeset
    initrd  /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "Slyme OS 0.9.9 — Boot (copytoram)" --class arch {
    set gfxpayload=keep
    linux   /%INSTALL_DIR%/boot/x86_64/vmlinuz-linux-zen archisobasedir=%INSTALL_DIR% archisolabel=%ARCHISO_LABEL% cow_spacesize=10G copytoram
    initrd  /%INSTALL_DIR%/boot/x86_64/initramfs-linux-zen.img
}

menuentry "System shutdown" {
    echo "System shutting down..."
    halt
}

menuentry "System restart" {
    echo "System rebooting..."
    reboot
}
